.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #d6d6d6;
}

.error input,
.error textarea {
    border: 1px solid red;
}

.error {
    color: red;
}

.newClass {
    border: 1px solid red;
}

input {
   outline: none;
}